/* AgregarDireccion.module.css */

.direccionesClienteContainer {
    background-color: #f4f7f9;
    padding: 2rem;
    min-height: 100vh;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
}

.direccionesClienteTitle {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.alertSuccessCustom {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
    margin-bottom: 1rem;
}

.alertDangerCustom {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
    margin-bottom: 1rem;
}

.loading {
    text-align: center;
    margin-top: 2rem;
}

.formGroup {
    margin-bottom: 1rem;
}

.label {
    color: #555;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.input {
    border-radius: 4px;
    border: 1px solid #ced4da;
    padding: 0.5rem;
    width: 100%; /* Hace que el input ocupe todo el ancho disponible */
}

.errorFeedback {
    color: #dc3545;
    font-size: 0.875rem;
}

.submitButton {
    background-color: #007bff;
    border-color: #007bff;
    color: #ffffff;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.2s, border-color 0.2s;
    width: 100%; /* Asegura que el botón ocupe todo el ancho disponible */
}

.submitButton:hover {
    background-color: #0056b3;
    border-color: #004085;
}

/* Estilo general para las alertas */
.alert-custom {
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Alerta de éxito */
.alert-success-custom {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

/* Alerta de error */
.alert-danger-custom {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Botón de cierre de alerta */
.alert-close-btn {
    background-color: #e0e0e0;
    border: none;
    border-radius: 50%;
    color: #333;
    font-size: 1.25rem;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

.alert-close-btn:hover {
    background-color: #dcdcdc;
    color: #000;
}
