.payment-form {
  max-width: 500px;
  margin: 0 auto;
}

.stripe-element-container {
  border: 1px solid #ced4da;
  padding: 10px;
  border-radius: 4px;
  background-color: white;
}

.reference-image {
  margin-top: 5px;
  max-width: 100%;
}

.error-message {
  color: #fa755a;
  margin-top: 10px;
}
/* Asegúrate de especificar el selector adecuado para tu modal */
.custom-modal .modal-content {
  background: white; /* Ajusta según el diseño */
  z-index: 1050; /* Prioriza el modal */
}

.custom-modal .modal-backdrop {
  opacity: 0.7; /* Ajusta la opacidad para una sombra menos densa */
}
