/* General Styles */
.services-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Hero Section */
.services-hero {
  background: linear-gradient(to right, #65574E, #65574E);
  color: #E1DFDB;
  text-align: center;
  padding: 80px 20px;
}

.services-hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.services-hero p {
  font-size: 1.5rem;
  font-weight: 400;
}

/* Service Sections */
.service-content, .w-service-content {
  padding: 40px 20px;
}

.service-section, .w-service-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.content-service, .w-content-service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* Text and Image Containers */
.text-container-service, .w-text-container-service {
  flex: 1;
  max-width: 500px;
  padding: 20px;
}

.text-container-service h1, .w-text-container-service h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.text-container-service p, .w-text-container-service p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.image-container-service, .w-image-container-service {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.image-container-service img, .w-image-container-service img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

/* Contact Section */
.services-contact {
  padding: 60px 20px;
  background-color: #65574E;
  text-align: center;
}

.services-contact-card {
  background-color: #D6D2CE;
  border-radius: 20px;
  padding: 30px;
  max-width: 1200px;
  margin: auto;
}

.services-contact-card h1 {
  font-size: 2.5rem;
  color: #65574E;
}

.services-contact-card p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  line-height: 1.5;
}

/* CTA Button */
.cta-button {
  padding: 10px 20px;
  background-color: #408345;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #33691e;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .services-hero h1 {
    font-size: 2.5rem;
  }

  .services-hero p {
    font-size: 1.25rem;
  }

  .text-container-service h1, .w-text-container-service h1 {
    font-size: 2rem;
  }

  .text-container-service p, .w-text-container-service p {
    font-size: 1.15rem;
  }

  .services-contact-card h1 {
    font-size: 2rem;
  }

  .services-contact-card p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .service-section, .w-service-section {
    flex-direction: column;
  }

  .image-container-service img, .w-image-container-service img {
    width: 100%;
    height: auto;
  }

  .services-hero h1 {
    font-size: 2rem;
  }

  .services-hero p {
    font-size: 1.15rem;
  }

  .text-container-service h1, .w-text-container-service h1 {
    font-size: 1.75rem;
  }

  .text-container-service p, .w-text-container-service p {
    font-size: 1rem;
  }

  .services-contact-card {
    padding: 20px;
  }

  .services-contact-card h1 {
    font-size: 1.75rem;
  }

  .services-contact-card p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .services-hero h1 {
    font-size: 1.5rem;
  }

  .services-hero p {
    font-size: 1rem;
  }

  .text-container-service h1, .w-text-container-service h1 {
    font-size: 1.5rem;
  }

  .text-container-service p, .w-text-container-service p {
    font-size: 0.9rem;
  }

  .services-contact-card {
    padding: 15px;
  }

  .services-contact-card h1 {
    font-size: 1.5rem;
  }

  .services-contact-card p {
    font-size: 0.8rem;
  }

  .image-container-service img, .w-image-container-service img {
    width: 100%;
    height: auto;
  }
}



  /* MODO OSCURO | NUESTROS SERVICIOS*/

  .dark-mode .w-service-content{
    background-color: #34332f;
  }

  .dark-mode .services-contact-card{
    background-color: #34332f;
  }